* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    margin: 0;
    padding: 0;    
    border-collapse: collapse;
    position: relative;

    -ms-user-select: none;
    -moz-user-select: -moz-none none;
    -webkit-user-select: none;
    user-select: none;
}

html{
    --font-color: whitesmoke;
    --primary-color: gold;
    --secondary-color: red;
    --social-button-color: rgb(0, 2, 10);
}

body {
    display: -webkit-flex;
    display: flex;

    background-image: url('../img/fancyWallpaper.jpg');
    background-attachment: scroll;
    background-size: 28vw;

    -ms-flex-direction: column;
    flex-direction: column;

    align-items: center;
}

#container {
    display: -webkit-flex;
    display: flex;

    -ms-flex-direction: column;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vw;
}

#container > *::-webkit-scrollbar {
    background-color: transparent;
    width: 3px;
}

#container > *::-webkit-scrollbar-button {
    background-color: transparent;
}

#container > *::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border-radius: 15px;
}

@media screen and (orientation: landscape) {
    #container {
        width: 100vh;
        height: 100vh;
    }
}

#noJavascript, #imgContainer, #errorContainer{
    color: whitesmoke;
    font-size: x-large;
    background-color: black;
    width: 100%;
    height: calc(100% * 0.75);
    padding: 6px;
    overflow: auto;
    border: 4px outset var(--secondary-color);
    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.592);
}

#errorContainer {
    display: none;
}

#noJavascript > h2, #errorContainer > h2 {
    color: var(--secondary-color);
    border-bottom: 4px solid var(--secondary-color);
    margin-bottom: 16px;
}

#recarregarBtn {
    cursor: pointer;
    color: whitesmoke;
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    font-size: medium;
    border-radius: 16px;
    font-weight: bolder;
    padding: 2px 6px;
    margin-top: 1rem;
}

#imgContainer {
    display: none;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    font-size: 0;
    border-color: var(--primary-color);
}

#imgContainer > img {
    width: auto;
    height: 100%;
    opacity: 0;
    
    -o-animation: linear 800ms showImage both 1;
    -moz-animation: linear 800ms showImage both 1;
    -webkit-animation: linear 800ms showImage both 1;
    animation: linear 800ms showImage both 1;
}

#loadingSpin {
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    border-style: solid;
    border-width: 6px;
    border-color: var(--primary-color) var(--primary-color) var(--primary-color) transparent;
    z-index: 10;

    -o-animation: linear 1s loadingSpin both infinite;
    -moz-animation: linear 1s loadingSpin both infinite;
    -webkit-animation: linear 1s loadingSpin both infinite;
    animation: linear 1s loadingSpin both infinite;
}

#loadingSpin.complete, #loadingSpin.error {
    border-color: var(--primary-color);

    -o-animation: alternate 600ms loadingSpinComplete both 5;
    -moz-animation: alternate 600ms loadingSpinComplete both 5;
    -webkit-animation: alternate 600ms loadingSpinComplete both 5;
    animation: alternate 600ms loadingSpinComplete both 5;
}

#loadingSpin.error {
    -o-animation-iteration-count: 6;
    -moz-animation-iteration-count: 6;
    -webkit-animation-iteration-count: 6;
    animation-iteration-count: 6;

    border-color: var(--secondary-color);
}

#errorContainer {
    position: absolute;
    z-index: 8;
}

#infoScreen{
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: xx-large;
    top: 0;
    left: 0;
    padding: 2px 6px;
    width: min(100%, 100%);
    height: min(100%, 100%);
    color: white;
    opacity: 0;
    white-space: break-spaces;
    text-align: center;
    vertical-align: text-bottom;
}

#infoScreen.complete {
    opacity: 1;
    
    -o-animation: closeInfoScreen 1s ease-out 3s 1 normal both;
    -moz-animation: closeInfoScreen 1s ease-out 3s 1 normal both;
    -webkit-animation: closeInfoScreen 1s ease-out 3s 1 normal both;
    animation: closeInfoScreen 1s ease-out 3s 1 normal both;
}

#infoScreen p {
    width: min(fit-content, 100%);
}

footer {
    display: -webkit-flex;
    display: flex;

    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: x-large;
}

footer a {
    color: var(--social-button-color);
    white-space: nowrap;
}

footer a:hover::after {
    content: 'Code on Github!';
    display: block;
    position: absolute;
    left: 50%;
    top: -100%;

    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    font-size: 1rem;
    border: 2px solid var(--social-button-color);
    background-color: var(--social-button-color);
    padding: 2px 4px;
    border-radius: 1rem;
    color: var(--font-color);
}

footer a:hover::before {
    content: '';
    position: absolute;
    left: 20%;
    top: -10%;

    -o-transform: translateX(-20%), rotate(-8deg);
    -ms-transform: translateX(-20%), rotate(-8deg);
    -moz-transform: translateX(-20%), rotate(-8deg);
    -webkit-transform: translateX(-20%), rotate(-8deg);
    transform: translateX(-20%), rotate(-8deg);
    
    border-style: solid;
    border-width: 5px;
    border-color: var(--social-button-color) transparent transparent transparent;
}

/* KEYFRAMES */
@-o-keyframes showImage {
    to{opacity: 1;}
}
@-moz-keyframes showImage {
    to{opacity: 1;}
}
@-webkit-keyframes showImage {
    to{opacity: 1;}
}
@keyframes showImage {
    to{opacity: 1;}
}

@-o-keyframes loadingSpin {
    to {
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}
@-moz-keyframes loadingSpin {
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes loadingSpin {
    to {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@keyframes loadingSpin {
    to {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes loadingSpinComplete {
    from {opacity: 1;}
    to {opacity: 0;}
}
@-moz-keyframes loadingSpinComplete {
    from {opacity: 1;}
    to {opacity: 0;}
}
@-webkit-keyframes loadingSpinComplete {
    from {opacity: 1;}
    to {opacity: 0;}
}
@keyframes loadingSpinComplete {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-o-keyframes closeInfoScreen {
    to{opacity: 0;}
}
@-moz-keyframes closeInfoScreen {
    to{opacity: 0;}
}
@-webkit-keyframes closeInfoScreen {
    to{opacity: 0;}
}
@keyframes closeInfoScreen {
    to{opacity: 0;}
}